/* Misc */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

button:focus, button:active,  a:focus, a:active, .btn:focus, .btn:active {
	outline: none !important;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.46;
  padding: 0;
  margin: 0;
}

/* welcome page styling */

section#welcome {
  background-image: url('../images/background_image.jpg');
  background-color: transparent;
  color: white;
}

section#welcome section article small {
	color: #fefefe;
	font-family: Consolas, monospace;
}

section#welcome section button.md-button {
	display: block;
	font-size: 2em;
	margin: 1em auto 0;
	padding: .5em 1.5em; 
} 

section#welcome section article:first-child header h1 {
	font-family: 'Impact', Helvetica, Arial, sans-serif;
	font-size: 5em;
	letter-spacing: 0.1em;
	margin: 0 0 .5em;
	opacity: 0.95;
	text-align: center;
	text-transform: uppercase;
}

section#welcome md-progress-circular {
	margin: 0 auto; 
	-webkit-transform: scale(0.7) !important;
	-ms-transform: scale(0.7) !important;
	-o-transform: scale(0.7) !important;
	transform: scale(0.7) !important;
}

/* Main page styling */

section.content {
	margin-bottom: 2em;
}

footer.footer {
	position: absolute;
	bottom: 0;
	left: 1em;
}

article.no-content {
	text-align: center; 
}

article.no-content h1 {
	color: rgba(230,230,230, 0.9);
    text-shadow: 0 2px 4px #fff, 0 0 0 #222, 0 2px 4px #fff;
	font-weight: bold;
	margin-bottom: 0.3em;
}

article.no-content h3 {
	color: #dadada;
}

article.no-content .md-button {
	padding-left: 2em;
	padding-right: 2em;
}

section.content > section > header:first-child h2 {
	font-weight: bold;
}

section.content > section article {
	margin-top: 2em;
}

section.content section article > section {
	padding-left: 1em;
}

section.content section article > section header hgroup h2 {
	margin-top: 0;
}

section.content section article > section header hgroup h5 {
	margin-bottom: 0;
}

section.content section article > section > footer {
	padding: 1em 0 0;
}

section.content section article > aside {
	padding: 3px;
	border: 1px solid #aaa; 
	max-height: 170px;
	overflow: hidden;
}

section.content section article > aside img{
	width: auto;
	height: auto;
	max-width: 100%;
} 


section.pop-up.ng-hide {
	opacity: 0;
}

section.pop-up.ng-hide-add.ng-hide-add-active,
section.pop-up.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

section.pop-up, section.add-feed-form {
	opacity: 1;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 61;
	background: transparent;
}

section.pop-up article.pop-up-message {
	font-weight: bold;
    color: darkgreen;
	padding: .5em;
	margin-top: 5%;
	max-width: 20%;
	height: 10%;
	background-color: LightGreen;
	border-radius: 5px;
	border: 1px solid DarkGreen;
}

section.add-feed-form {
	background-color: rgba(0,0,0,0.3);	
}

section.add-feed-form md-card {
	background-color: white;
	min-width: 30%;
}

section.add-feed-form md-input-container {
	padding-botom: 0.5em;
}

section.add-feed-form button[type="submit"] {
	margin: 9px 0 9px;
}

section.add-feed-form md-progress-circular {
	-webkit-transform: scale(0.5) !important;
	-ms-transform: scale(0.5) !important;
	-o-transform: scale(0.5) !important;
	transform: scale(0.5) !important;
}

/* Sidebar styling */
md-sidenav section {
	padding: 1em;
	margin: 1em; 
}

/* Media queries */

/* desktop screens: > 1024px */
@media screen and (min-width: 960px) {
	article.no-content h1 {
		font-size: 3em;
	}
}

/* medium screens: 960px */
@media screen and (max-width: 960px) {
	section.content {
		padding-left: 1em;
	}

	article.no-content h1 {
		font-size: 2.5em;
	}
}

/* tablet screens: 786px */
@media screen and (max-width: 768px) {
	article.no-content h1 {
		font-size: 2.5em;
	}
}

/* phone screens: 480px */
@media screen and (max-width: 480px) {
	article.no-content h1 {
		font-size: 1.5em;
		text-shadow: none;
		background-color: none;
		color: #dadada;
	}

	article.no-content h3 {
		font-size: 0.8em;
	}
}
