.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

main {
  height: 100%;
}

#welcome {
  background-image: url('../images/background_image.jpg');
}

#welcome md-card {
	background-color: white;
	width: 100%;
}

#welcome section {
	color: white;
}

#welcome section article small {
	color: #fefefe;
}

#welcome section button.md-button {
	display: block;
	font-size: 2em;
	margin: 1em auto 0;
	padding: .5em 1.5em; 
} 

#welcome section article:first-child header h1 {
	font-family: 'Impact', Helvetica, Arial, sans-serif;
	font-size: 5em;
	letter-spacing: 0.1em;
	margin: 0 0 .5em;
	opacity: 0.95;
	text-align: center;
	text-transform: uppercase;
}