<section class="content">
	<article ng-repeat="post in vm.posts">
		<header>
			<hgroup>
				<h1>{{post.title}}</h1>
				<h3>{{post.author}}</h3>
			</hgroup>
			<small>{{post.publishedDate}}</small>
		</header>
		<section ng-bind-html="post.content"></section>
		<footer>
			<div class="pull-right">
				<button type="button" class="btn btn-link">
					Collapse
				</button>
			</div>
			<div class="pull-left">
				<a href="post.link" class="btn btn-link">Continue reading...</a>
			</div>
		</footer>
	</article>
</section>