<section class="content">
	<article ng-repeat="post in vm.feed">
		<header>
			<hgroup>
				<h1>{{post.title}}</h1>
				<h3>{{post.metadata.author}}</h3>
			</hgroup>
			<small>{{post.metadata.datePublished}}</small>
		</header>
		{{post.contents}}
		<footer>
			<div class="pull-right">
				<button type="button" class="btn btn-link">
					Collapse
				</button>
			</div>
			<div class="pull-left">
				<a href="{{post.link}}" class="btn btn-link">Continue reading...</a>
			</div>
		</footer>
	</article>
</section>