<md-sidenav  layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="right" md-is-locked-open="$mdMedia('gt-md')">
	<section>
		<md-button class="md-button md-primary" ng-click="vm.togglePopUp()"><span class="glyphicon glyphicon-plus"></span> Add feed</md-button>
	</section>
	<section ng-show="vm.subscriptions">
		<h3><strong>Your feeds</strong></h3>
		<ul class="list-unstyled">
			<li ng-repeat="feed in vm.subscriptions"><button class="btn btn-link" ng-click="vm.displayPosts(feed.$value)">{{feed.$value}}</button></li>
		</ul>
	</section>
</md-sidenav>
