<section>
	<section flex flex-gt-md="80" >
		<header layout="row" layout-align="left center">
			<h2 ng-bind-html="vm.feed.title"></h2>
			<button class='btn btn-link refresh-feed' ng-click="vm.requestFeedUpdate(vm.feed.title)"><span class="glyphicon glyphicon-repeat"></span></button>
			<small class="text-muted" style="margin-top:2em;">Last Updated: <span ng-bind-html="vm.feed.lastUpdate | date : 'medium'"></span></small>
		</header>
		<article layout="row" ng-repeat="post in vm.posts">
			<aside class="clearfix" flex="30">
				<img ng-src="{{post.mainImg}}" alt="mainImg" style="" ng-show="post.mainImg">
			</aside>
			<section flex="70">
				<header>
					<hgroup>
						<h2 ng-bind-html="post.title"></h2>
						<h5><strong ng-bind-html="post.author"></strong></h5>
						<small class="text-muted" ng-bind-html="post.publishedDate | date : 'medium'"></small>
					</hgroup>
				</header>
				<section ng-bind-html="post.contentSnippet"></section>
				<footer>
					<a ng-href="{{post.link}}">Read more</a>
				</footer>
			</section>
		</article>
	</section>
</section>