<section>
	<md-card class=".md-whiteframe-z2">
		<md-card-content>
			<md-button class="pull-right md-button" ng-click="vm.toggleAddFeedForm()" aria-label><span class="text-muted glyphicon glyphicon-remove"></span></md-button>
			<form name="vm.form" novalidate ng-submit="vm.addFeed(vm.feedUrl)">
				<md-input-container>
					<label for="feedUrl">Feed URL</label>
					<input type="url" name="feedUrl" ng-model="vm.feedUrl" ng-required="url"/>
				</md-input-container>
				<md-button type="submit" name="submit" ng-disabled="!vm.feedUrl" class="md-button md-primary md-raised" ng-hide="vm.addingFeed">Submit</md-button>
				<md-progress-circular md-mode="indeterminate" ng-show="vm.addingFeed"></md-progress-circular>
			</form>
		</md-card-content>
	</md-card>
</section>