<main id="welcome" layout="row" layout-align="center center" layout-fill>
	<section flex="40">
		<section>
			<article>
				<header>
					<h1>Beta</h1>
				</header>
				<small>This app is for demonstration purposes. It makes use of HTML5 WebStorage API to ensure a personalized experience as long as the user keeps using the same browser. <strong>No personal information is stored in the server.</strong></small>
			</article>
			<md-button class="md-raised md-primary" ng-click="vm.signUp()">Enter the void</md-button>
		</section>
	</section>
</main>